[Interface]
PrivateKey = {{ item.value.private }}
Address = {{ item.key }}/24 
ListenPort = {{ r_wg_client_port }}
#Table = off
#fwmark = off

#remote server
[Peer]
PublicKey = {{ server_public_keys.content | b64decode }} 
Endpoint = {{ host_address }}:{{ r_wg_server_port }}
AllowedIPs = 0.0.0.0/0