[Interface]
Address = {{ r_wg_server_ip }}/24
#SaveConfig = true
ListenPort = {{ r_wg_server_port }}
PrivateKey = {{ server_private_keys.content | b64decode }} 
{% for client in clients_param | dict2items %}
[Peer]
PublicKey = {{ client.value["public"] }} 
AllowedIPs = {{ client.key }}/32
{% endfor %}

